* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1;
  background-color: hsl(0, 0%, 98%);
}

.header {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

.btn-theme-toggle {
  background-color: unset;
  border: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  padding: 1.5rem 3.5rem;
}

.container-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto 2.5rem;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3.5rem;
  grid-row-gap: 3.65rem;
}

/* Search */

.search-field {
  display: flex;
  position: relative;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 1rem;
}

.search-input {
  width: 28rem;
  padding: 1rem;
  padding-left: 3rem;
  border: unset;
  border-radius: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ------------------------- */

/* Card */
.card {
  width: 18rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-img {
  height: 10rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-details {
  margin-bottom: 1rem;
}

.card-details p {
  margin-bottom: 0.5rem;
}

.card-details p strong {
  font-weight: 600;
}

/* ------------------------- */

/* Dropdown */
.dropdown {
  font-size: 14px;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-arrow {
  margin-left: 1.5rem;
}

.dropdown-content {
  width: 100%;
  position: absolute;
  padding: 0.5rem;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-item {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background: hsl(0, 0%, 98%);
}

/* ------------------------- */
