* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1;
  background-color: hsl(0, 0%, 98%);
}

.header {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 98%);
}

.btn-theme-toggle {
  background-color: unset;
  border: unset;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  padding: 1.5rem 3.5rem;
}

.container-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem auto 2rem;
}

.search-field {
  display: flex;
  position: relative;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 1rem;
}

.search-input {
  padding: 0.75rem;
  padding-left: 3rem;
  border: unset;
  border-radius: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter-region {
  padding: 0.75rem;
  border: unset;
  border-radius: 0.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
